<h1 id="ddd-seoul">DDD Seoul 주제 발표 신청 결과</h1>
<p>{{SPEAKER}}님의 세션, &quot;{{SESSION_TITLE}}&quot;을/를 <span style="color:#AC4E21">DDD Seoul 2024</span>에서 청중들과 공유할 수 있게 되어 너무나도 기쁩니다!</p>
<p>아래 버튼을 <span style="color:#AC4E21">{{CONFIRMATION_DUE_DATE}}</span>까지 클릭하여 발표자 참여 여부를 확인해 주세요.</p>
<div style="text-align: center; padding: 10px 0px;">
    <a class="btn btn-accepted" href="{{SPEAKER_ACCEPTED_URL}}" title="Speaker accepted link" target="_blank">수락합니다</a>
    <a class="btn btn-rejected" href="{{SPEAKER_REJECTED_URL}}" title="Speaker accepted link" target="_blank">거절합니다</a>
</div>
<p>만약 지정된 기한까지 수락 여부를 알려주지 않으실 경우 다음 순위 발표자에게 발표 기회가 넘어갑니다.</p>
<p><span style="color:#AC4E21">DDD Seoul</span>에서 {{SPEAKER}}님을 꼭 뵙길 바라겠습니다.</p>
<p>감사합니다.</p>
<p>DDD Seoul 운영진 일동</p>
