<blockquote>
<p>본 메일은 DDD Seoul 2024 행사에 발표자로 선정되지 못한 분들께 숨은 참조로 발송하였습니다.</p>
</blockquote>
<h1 id="ddd-seoul">DDD Seoul 주제 발표 신청 결과</h1>
<p>안녕하세요, <span style="color:#AC4E21">DDD Seoul</span> 입니다.</p>
<p>먼저 <span style="color:#AC4E21">[DDD Seoul 2024]</span> 컨퍼런스에 발표할 주제를 신청해 주셔서 진심으로 감사합니다.</p>
<p>혹시 이번 발표 제안 관정 중 의도하지 않게 불편을 드린 점은 없었는지 여러모로 마음이 쓰입니다.</p>
<p>제출해주신 내용을 하나씩 살펴보았을 때 이 한 번을 위해 얼마나 열정과 성의를 다하셨는지를 알 수 있었습니다.</p>
<p>그러나 정말 아쉽게도 이번 <span style="color:#AC4E21">[DDD Seoul 2024]</span> 발표자 선정에서는 좋은 결과를 전달 드리지 못하게 되었습니다.</p>
<p>이는 한정된 자리 대비 많은 분들께서 지원을 해주셨기에 모든 분들께 기회를 드릴 수 없었던 점, 더불어 한 분 한 분께 개별적인 피드백을 드리지 못하는 점 양해 부탁드립니다.</p>
<p>그러나 발표자로는 선정되지 못했더라도 이번 행사에는 자유롭게 참가가 가능하니,</p>
<p>꼭 참가자로 오셔서 이번 행사를 함께 즐기실 수 있기를 바랍니다.</p>
<p>감사합니다.</p>
<p>DDD Seoul 드림.</p>
