<!-- 제출 결과: {{SESSION_TITLE}} - 응답 필요! -->
<p>안녕하세요, {{SPEAKER}}님!</p>
<p>{{SPEAKER}}님의 &quot;{{SESSION_TITLE}}&quot; 세션을 <span style="color:#AC4E21">DDD Seoul 2024</span>에서 청중들과 공유할 수 있게 되어 너무나도 기쁩니다!</p>
<p>이제 마지막으로 {{SPEAKER}}님의 참여 의사를 확인하기 위해 아래 링크를 클릭하여 주세요.</p>
<p>(이 링크는 11월 9일 0시까지만 유효합니다)</p>
<!-- 링크 주소를 포함할 위치 -->
<p>이번 <span style="color:#AC4E21">DDD Seoul 2024</span>에서는 정말 많은 분께서 관심을 보내주셨습니다.</p>
<p>그에 따라 {{SPEAKER}}님의 소중한 기회를 잃어버리지 않도록 꼭 지정된 기한 내 링크를 클릭하여주세요.</p>
<p>행사에 대한 안내 및 주의사항과 파워포인트 템플릿 파일은 빠른 시일 내 별도로 안내드리겠습니다.</p>
<p>혹시라도 이후에 발표 관련 변경사항이 있거나 기타 문의사항이 있을 경우, 이 메일로 회신 부탁드립니다.</p>
<p>감사합니다.</p>
<p>DDD Seoul 드림.</p>
