<!-- 제출 결과: {{SESSION_TITLE}} -->
<p>안녕하세요, {{SPEAKER}}님.</p>
<p>먼저 <span style="color:#AC4E21">[DDD Seoul 2024]</span> 컨퍼런스에 발표할 주제를 신청해 주셔서 진심으로 고맙습니다.</p>
<p>{{SPEAKER}}님의 &quot;{{SESSION_TITLE}}&quot; 세션을 <span style="color:#AC4E21">예비발표자</span>로 선정하였습니다.</p>
<p><span style="color:#AC4E21">예비발표자</span>란, 현재 구성한 발표자 중 결원이 발생할 경우 {{SPEAKER}}님께 기회를 드리는 제도입니다.</p>
<p>지원해주신 모든 분들께 기회를 드리고 싶었으나, 발표 세션의 숫자가 정해져 있어 위와 같이 구성하였습니다.</p>
<p>결원이 발생할 경우 우선적으로 {{SPEAKER}}님의 세션을 고려할 예정이니 참고 부탁드립니다.</p>
<p>후속 이메일을 기다려 주시고 이 때 발표자 참여 여부를 다시 여쭙겠습니다.</p>
<p>혹시라도 궁금하신 부분이나 기타 문의사항이 있을 경우, 이 메일로 회신 부탁드립니다.</p>
<p>감사합니다.</p>
<p>DDD Seoul 드림.</p>
