<h1 id="ddd-seoul-issue_number">DDD Seoul 뉴스레터 – {{ISSUE_NUMBER}}</h1>
<p>안녕하세요,</p>
<p>저희 <span style="color:#AC4E21">DDD Seoul</span>에서 함께해 주실 자원봉사자를 모집합니다!</p>
<p>이번 행사의 원활한 운영을 위해 여러분의 많은 도움이 필요합니다.</p>
<p><strong>📅 주요 일정</strong></p>
<ul>
<li>12월 7일(토), 8일(일) 08:00 ~ 19:00 (양일 모두 지원 가능)</li>
<li>모집 기간: {{VOLUNTEER_DUE_DATE}} 까지</li>
<li>결과 안내: {{VOLUNTEER_NOTIFICATION_DATE}} 이후</li>
</ul>
<p><strong>📌 주요 활동</strong></p>
<ul>
<li>참가자 안내</li>
<li>기념품 배부</li>
<li>기술 발표 트랙 운영 지원</li>
<li>사진 촬영</li>
</ul>
<div style="text-align: center; padding: 10px 0px;">
    <a class="btn btn-link" href="https://bit.ly/dddseoul-volunteer" title="DDD Seoul" target="_blank">자원봉사 지원하기!</a>
</div>
<p>감사합니다!</p>
<p>DDD Seoul 운영진 일동.</p>
