<h1 id="ddd-seoul-issue_number">DDD Seoul 뉴스레터 – {{ISSUE_NUMBER}}</h1>
<p>안녕하세요, <span style="color:#AC4E21">DDD Seoul</span>입니다.</p>
<p>드디어 티켓 구매 링크가 열렸습니다! 우리 뉴스레터 가입자에게 먼저 공개하는 티켓 구매 링크를 통해 <span style="color:#AC4E21">DDD Seoul</span>에 참여해 주세요. 세션 티켓 구매 링크만 미리 열리고 워크샵 티켓 구매 링크는 오는 {{WORKSHOP_TICKETING_SCHEDULE}}에 모두에게 동시에 열립니다.</p>
<div style="text-align: center; padding: 10px 0px;">
    <a class="btn btn-link" href="{{SESSION_TICKETING_URL}}" title="Session ticketing URL" target="_blank">세션 티켓 구매</a>
</div>
<p>세션 티켓의 수량이 굉장히 한정적이므로 서둘러 주세요! 구매 링크는 시차를 두고 모두에게 공개할 예정입니다.</p>
<p>감사합니다!</p>
<p><span style="color:#AC4E21">DDD Seoul</span> 운영진 일동</p>
