<h1 id="section">워크샵 진행을 위한 내용 확인 및 사전 요구사항 조사</h1>
<p>안녕하세요, <span style="color:#AC4E21">DDD Seoul</span>입니다.</p>
<p>오는 12월 8일에 {{SPEAKER}}님의 워크샵, &quot;{{SESSION_TITLE}}&quot;의 원활한 진행을 위해 아래 사항을 사전에 확인하고자 합니다.</p>
<ol>
<li><strong>카드뉴스</strong>: 여러분이 사용하시는 SNS 계정을 통해 워크샵을 소개하는 카드뉴스 이미지 링크를 제공해 드립니다. 아래 링크를 통해 카드뉴스 이미지를 다운로드 받아 여러분의 SNS 계정에 <code>#DDDSeoul</code> <code>#DDDSeoul2024</code> 해시태그와 함께 공유해 주세요.
<ul>
<li><a href="{{CARD_NEWS_URL}}">카드뉴스 다운로드</a></li>
</ul>
</li>
<li><strong>워크샵 진행용 템플릿</strong>: 워크샵 진행을 위한 위한 슬라이드에 반드시 추가해야 하는 페이지와 GitHub 템플릿 리포지토리를 제공해 드립니다. 아래 링크를 통해 다운로드 받아 사용하시기 바랍니다.
<ul>
<li><a href="{{SLIDE_TEMPLATE_URL}}">슬라이드 템플릿 다운로드</a></li>
<li><a href="{{GITHUB_TEMPLATE_URL}}">GitHub 템플릿 리포지토리</a></li>
</ul>
</li>
<li><strong>자기 소개</strong>: {{SPEAKER}}님께서 작성하신 아래 내용이 그대로 웹사이트에 올라갑니다. 자기소개 내용을 다시 한 번 확인해 주세요. 만약 수정이 필요하다면, <strong>{{SPEAKER_BIO_UPDATE_DUE_DATE}}</strong> 까지 수정해 주세요.
<ul>
<li>자기 소개: {{SPEAKER_BIO}}</li>
</ul>
</li>
<li><strong>워크샵 정보</strong>: {{SPEAKER}}님께서 작성하신 아래 내용이 그대로 웹사이트에 올라갑니다. 워크샵 제목과 설명을 다시 한 번 확인해 만약 수정이 필요하다면, <strong>{{SESSION_DETAILS_UPDATE_DUE_DATE}}</strong> 까지 수정해 주세요.
<ul>
<li>워크샵 제목: {{SESSION_TITLE}}</li>
<li>워크샵 설명: {{SESSION_DESCRIPTION}}</li>
</ul>
</li>
<li><strong>웹사이트 자기 소개 페이지</strong>: 위의 자기 소개 및 워크샵 정보를 바탕으로 웹사이트에 이미 내용을 게시했습니다. 아래 링크를 통해 확인해 주시고, 만약 수정이 필요하다면 <strong>{{SPEAKER_BIO_UPDATE_DUE_DATE}}</strong> 까지 수정해 주세요.
<ul>
<li><a href="https://dddseoul.kr/#speakers">웹사이트 발표자 페이지</a></li>
</ul>
</li>
<li><strong>Microsoft 365 구독 준비여부</strong></li>
<li><strong>Azure 구독 준비여부</strong></li>
<li><strong>제공 장비</strong>: 워크샵 진행을 위한 컴퓨터 및 기타 장비가 필요한 경우, 별도로 제공해 드리지 않으니 미리 준비해 오시기 바랍니다. <span style="color:#AC4E21">DDD Seoul</span>에서 워크샵 진행을 위해 준비해 드리는 내용은 아래와 같습니다.
<ul>
<li>HDMI 케이블</li>
<li>USB-C 케이블</li>
<li>유/무선 마이크</li>
<li>WI-FI 연결 정보</li>
</ul>
</li>
</ol>
<p>위의 내용을 아래 링크를 통해 확인해 주세요. Microsoft 365 및 Azure 구독이 필요한 경우, 진행자가 준비해야 하는지 참석자가 개별적으로 준비해야 하는지 여부를 선택해 주셔야 합니다.</p>
<div style="text-align: center; padding: 10px 0px;">
    <a class="btn btn-link" href="{{WORKSHOP_SURVEY_URL}}" title="Workshop survey link" target="_blank">사전 요구사항 조사</a>
</div>
<p>혹시나 워크샵 진행과 관련해서 더 궁금한 내용이 있으시면 언제든 이메일로 문의해 주세요.</p>
<p>감사합니다.</p>
<p>DDD Seoul 운영진 일동</p>
